@page "/"
@inject HttpClient Http
<h1>Hello, world!</h1>
@using Newtonsoft.Json;
Welcome to your new app.
<p>IP:@ipInfo.Ip</p>
<p>City:  @ipInfo.Location.City</p>
<p>Region:  @ipInfo.Location.Region</p>
<p>Country: @ipInfo.Location.Country</p>
@code {
    private IpInfo ipInfo = new IpInfo();
    protected override async Task OnInitializedAsync()
    {
        ipInfo = await Http.GetFromJsonAsync<IpInfo>("https://geo.ipify.org/api/v1?apiKey=at_Sz4U7jcsSB8jH6Qz0me4XgQLzntwh");
    }

    public class Location
    {
        public string City { get; set; }
        public string Region { get; set; }
        public string Country { get; set; }

    }
    public class IpInfo
    {
        public IpInfo()
        {
            Location = new Location();
        }
        public string Ip { get; set; }
        public Location Location { get; set; }

    }
}
<SurveyPrompt Title="How is Blazor working for you?" />
